html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
}

.footer {
    text-align: center;
    margin-top: auto;
}